{% extends '/frontoffice/basefront.html.twig' %}

{% block title %}Remboursement index{% endblock %}
{% block subtitle %}Remboursement {% endblock %}

{% block content %}
<<section class="pt-125 pb-140 bg_white">
    <div class="container">
        <div class="row ">
            <div class="section-title">
                <h2 class="heading-decorated">Mes Remboursements de credit</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Montant</th>
                <th>DateRemboursement</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for remboursement in remboursements %}
            <tr>
                <td>{{ remboursement.id }}</td>
                <td>{{ remboursement.Montant }}</td>
                <td>{{ remboursement.DateRemboursement ? remboursement.DateRemboursement|date('Y-m-d') : '' }}</td>
                <td>
                    <a class="btn btn-block btn-outline-primary" href="{{ path('app_remboursement_show', {'id': remboursement.id}) }}">Show</a>
                    {# <a href="{{ path('app_remboursement_edit', {'id': remboursement.id}) }}">edit</a> #}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
                <a style="max-width: 300px;" class="btn btn-block btn-outline-info" href="{{ path('app_credit_index') }}">Back to credits list </a>

            </div>
        </div>
    </div>
</section>
    {# <a href="{{ path('app_remboursement_new') }}">Create new</a>#}
{% endblock %}
